.fa-circle{
    color:#00c9ff;
}
.entity{
    /* width:192px; */
    background-color: lightgray;
    height:auto;
    border-radius: 10px;
    z-index: 1;
    cursor: move;    
}
.markas{
    padding-top:2.5rem;
}
.marginleft{
    margin-left:25px;
}
.fa-mouse-pointer{
    transform: rotate(-8deg);
    color:navajowhite;
}
.fa-italic{
    transform: rotate(-10deg); 
    padding-left: 8px;
    color:navajowhite;
}
.italic{
    display: inline-block;
}
.card-header{
  background-color: lightgray;
  border-bottom: none;
  padding:0px;
}
.card{
    border:0px;
    background-color: lightgray;
    margin-top:10px;
}
.card-body{
    padding:0px;
}
.disabled{
   /* cursor: not-allowed; */
   pointer-events: none;
   opacity: 0.5;
}
.disabled-details{
    color:lightslategray;
    cursor: not-allowed;
}
p{
    cursor:context-menu;
}

.modal-body p{
    margin-bottom:0px;
}
.modal-body{
    padding: 0px !important;
} 
.modal-dialog{
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%) !important;
}
/* .modal-content{
    border-radius:15px;
    padding-left:25px;
    padding-right:25px;
    box-shadow:3px 2px 5px lightgray;
} */
.modal-content{
    border-radius:15px;
    /* padding-left:25px; */
    /* padding-right:25px; */
    box-shadow:3px 2px 5px lightgray;
    padding: 32px;
}
.modal-header{
    border-bottom:none;
    padding:0px;
}
.modal-title{
    padding-top:30px;
} 
.modal-footer{
    border-top:none;
    padding-top:0px;
} 
.modal-sub-heading{
    font-size: 16px !important;
    font-family: NokiaPureText-Bold !important;
} 
.icon{
    width: 88px;
    height: 32px;
    border-radius: 5px;
    background-color: #001135;
    color: white;
}
.close{
    font-size:35px;
    /* padding: 2rem 1.5rem !important;    Relations */
    padding: 0px;
} 
.edit{
   /* padding-left:150px; */
   width:24px;
   cursor: pointer;
}
.newrelation{
    margin-bottom:27px;
}
.panel-fixed{
    position: fixed !important;
    width: 15% !important;
}
.select{
    width:350px;
}
.marginrelation{
    margin-left:32px;
    cursor:pointer;
}
.selecttype{
    background-color: lightgray;
    width:150px;
    margin-left:12px;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(169, 169, 169);
}
.margin{
   margin-left:1.5rem !important;
   cursor:pointer;
}
.angledown{
    margin-left:5rem !important;
    width:10%;
    left:-2px;
}
.angledown1{
    margin-left:5rem !important;
    width:10%;
    left:2px;
}
.icon-width{
    width:24px;
}
.iconentity-width{
    width:24px;
    opacity:0.3;
    cursor:pointer;
}
.box-shadow{
   opacity:1;
}
.button-position{
    position:relative;
}
select, input:focus{
    outline: none !important;
}
.modal{
    z-index:1050 !important;
}
.unique-value {
    margin-bottom: 10px;
}
.closeentitymenu{
    background-color: #001135;
    color: white;
    width: 88px;
    height: 32px;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;   
}
.close:focus{
    outline: none !important;
}   
.normalized{
    font-size: 12px;
    /* float:right; */
}
.entity_row{
 padding:16px;
}
.compliance {
    padding-top: 35px;
    background-color: #00C9FF;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
/* .delete-entity {
    padding: 1rem;
} */
.icon-thick{
    width:24px;
    cursor: pointer;
}
.selectdpdwn{
    border: none !important;
    border-bottom: 1px solid rgb(169,169,169) !important;
    background-color: lightgray !important;
}
.form-control{
    color: black !important;
}
.cursor{
    cursor:pointer;
}

.form-control:focus{
    outline:none !important;
    background-color:lightgray !important;
    box-shadow: none;
}
.detail-padding{
    padding: 0px 8px 0px 25px;
    margin-top: 8px;
}
.icon-cancel-delete {
    width:88px;
    height:32px;
    border-radius:5px;
    color:White;
    background-color: #001135;
    border:none;
}
/* .cursorremoval{
    cursor:not-allowed;
}     */
.new-entity-checkbox{   
    margin-right: 0.3rem !important;
    cursor:pointer;
}
/* Relations */
.modal-footer-rel{
     padding: 0px !important;
}
.modal-title-rel{
    font-size: 20px;
    font-family: NokiaPureHeadline_Bold !important;
}
.icon-next {
    width: 88px;
    height: 32px;
    border-radius: 5px;
    background-color: #001135;
    color: white;
}
.icon-cancel {
    width: 88px;
    height: 32px;
    border-radius: 5px;
    background-color: #EDF3F5;
    color: black;
    border: none; 
}
.icon-cancel-delete {
    width:88px;
    height:32px;
    border-radius:5px;
    color:White;
    background-color: #001135;
    border:none;
}
.rel-success{
    padding: 88px;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
     height: 238px; 
}     
.checkbox-msg {
    margin-left: 0.4rem;
}
.new-rel {
    width: 512px;
    height: 336px;
}
.rel-suc-modal {
    /* width: 512px; */
    height: 336px;
}
.add-rel {
    width: 660px;
}
.icon-rel-delete {
    width: 88px;
    height: 32px;
    border-radius: 5px;
    background-color: #EDF3F5;
    color: black;
    border: none; 
}
/* .rel-delete-confirm {
    font-size: 16px; 
} */
.btn-position {
    position: absolute;
    left: 40px;
}
.rel-del-confirm1{
    width: 500px;
    height: 300px;
} 
.main-header{
    margin-top: 1rem;
}
.main-header-rel {
    margin-top: 1.5rem;
}
.dropdown-width{
    width: 100%;
    font-size: 16px;
    font-family: NokiaPureText-Light !important;
} 
.disable-rel{
    pointer-events:none;
    opacity: 0.6;
} 
.disable-deleteentity{
    pointer-events:none;
    opacity: 0.6;
}
.modal-content-rel{
    border-radius:0.3rem !important;    
    box-shadow:3px 2px 5px lightgray !important;
    padding: 32px !important;
}
